<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--

Template 2092 Shelf

http://www.tooplate.com/view/2092-shelf

-->
    <title>SHELF - Your Online Bookstore</title>

    <!-- load stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css"> <!-- Font Awesome -->
    <link rel="stylesheet" href="css/bootstrap.min.css"> <!-- Bootstrap style -->
    <link rel="stylesheet" href="css/tooplate-style.css"> <!-- Templatemo style -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
          <![endif]-->
</head>

<body>

    <div class="container">
        <%- include('partials/header', {current: 'login' }) %>

            <div class="tm-main-content">
                <section class="row tm-margin-b-l">
                    <div class="col-md-6 col-sm-12 mb-md-0 mb-5 tm-overflow-auto">
                        <h2 class="tm-blue-text tm-margin-b-p">Login</h2>
                        <div class="mr-lg-5">
                            <!-- contact form -->
                            <form action="#" method="post" class="tm-contact-form">
                                <div class="form-group">
                                    <input type="text" id="login_username" class="form-control" placeholder="User Name"
                                        required />
                                </div>
                                <div class="form-group">
                                    <input type="password" id="login_password" class="form-control"
                                        placeholder="password" required />
                                </div>

                                <button id="loginBtn" type="submit"
                                    class="tm-btn tm-btn-blue float-right">Login</button>
                            </form>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 mb-md-0 mb-5 tm-overflow-auto">
                        <h2 class="tm-blue-text tm-margin-b-p">Register</h2>
                        <div class="mr-lg-5">
                            <!-- contact form -->
                            <form action="#" method="post" class="tm-contact-form">
                                <div class="form-group">
                                    <input type="text" id="register_name" class="form-control"
                                        placeholder="first & last name" required />
                                </div>
                                <div class="form-group">
                                    <input type="email" id="register_email" class="form-control" placeholder="Email"
                                        required />
                                </div>

                                <div class="form-group">
                                    <input type="text" id="register_username" class="form-control"
                                        placeholder="User Name" required />
                                </div>
                                <div class="form-group">
                                    <input type="password" id="register_password" class="form-control"
                                        placeholder="password" required />
                                </div>
                                <div class="form-group">
                                    <input type="password" id="register_repassword" class="form-control"
                                        placeholder="re-password" required />
                                </div>

                                <button id="registerBtn" type="submit"
                                    class="tm-btn tm-btn-blue float-right">register</button>
                            </form>
                        </div>
                    </div>

                </section>



                <section class="media tm-highlight tm-highlight-w-icon">

                    <div class="tm-highlight-icon">
                        <i class="fa tm-fa-6x fa-meetup"></i>
                    </div>

                    <div class="media-body">
                        <header>
                            <h2>Need Help?</h2>
                        </header>
                        <p class="tm-margin-b">Curabitur magna tellus, condimentum vitae consectetur id, elementum sit
                            amet erat. Phasellus arcu leo, sagittis fringilla nisi et, pulvinar vestibulum mi. Maecenas
                            mollis ullamcorper est at dignissim.</p>
                        <a href="" class="tm-white-bordered-btn">Live Chat</a>
                    </div>
                </section>
            </div>

            <%- include('partials/footer')%>
    </div>

    <!-- messages modal start -->

    <div id="modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header" id="modalHeader">
              <h5 class="modal-title" id="modalTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p id="modalContent">Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <!-- messages modal End -->

    <!-- load JS files -->
    <script src="js/jquery-1.11.3.min.js"></script> <!-- jQuery (https://jquery.com/download/) -->
    <script src="js/popper.min.js"></script> <!-- Popper (https://popper.js.org/) -->
    <script src="js/bootstrap.min.js"></script> <!-- Bootstrap (https://getbootstrap.com/) -->
    <script>
        const registerBtn = document.getElementById('registerBtn');
        registerBtn.addEventListener('click', async (e) => {
            e.preventDefault();
            const register_name = document.getElementById('register_name').value;
            const register_email = document.getElementById('register_email').value;
            const register_username = document.getElementById('register_username').value;
            const register_password = document.getElementById('register_password').value;
            const register_repassword = document.getElementById('register_repassword').value;
            // we need to validate inputs

            // send the data to server side using fetch 
            const sendData = {
                name: register_name,
                email: register_email,
                username: register_username,
                password: register_password
            }
            try {
                // disable the register button
                registerBtn.disabled = true;
                registerBtn.innerHTML = '<i class="fa fa-spinner fa-spin"></i>';

                const response = await fetch('/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(sendData)
                })
                const data = await response.json();
                // enable register button
                registerBtn.disabled = false;
                registerBtn.innerHTML = 'register';
                
                console.log(data);
                switch (data.result) {
                    case 'email exist':
                        showModal('Email already exist', 'Please use another email', 'bg-warning');
                        break;
                    case 'username exist':
                        showModal('user name is already exist', 'Please use another user name', 
                        'bg-warning');
                        break;
                    case 'done':
                        showModal('Done',
                         'You have been registered successfully, please check your email to verify',
                          'bg-success');
                        break;
                    case 'error':
                        showModal('Error', 'Unknown Error please contact the Admin', 'bg-danger');
                        break;
                
                    default:
                        showModal('Error', 'Unknown Error please contact the Admin', 'bg-danger');
                        break;
                }
                
            } catch (error) {
                console.log(error);
                showModal('Error', 'Can not send the data', 'bg-danger');
            }

        })


        function showModal(title, content, headerClass) {
            const modalTitle = document.getElementById('modalTitle');
            const modalContent = document.getElementById('modalContent');
            const modalHeader = document.getElementById('modalHeader');
            modalTitle.innerHTML = title;
            modalContent.innerHTML = content;
            modalHeader.className = `modal-header ${headerClass}`;
            $('#modal').modal('show');
        }
    </script>

</body>

</html>